<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PhixDataFlow</title>

    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Content/assets/css/material-dashboard.css" rel="stylesheet" />*@
    <link href="~/Content/material-kit.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/demo.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    @RenderSection("styles", required: false)
    <script src="~/Content/angular-1.6.9/angular.min.js"></script>
</head>
<body>
            <div class="content">
                @RenderBody()
            </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/assets/js/material.min.js"></script>
    <script src="~/Content/assets/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Content/assets/js/material-dashboard.js"></script>
    <script src="~/Content/assets/js/highcharts.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
